# 데이터 인코딩

## 레이블 인코딩
범주형 데이터를 숫자로 일대일 매핑(2차원은 OrdinalEncoder)

In [1]:
from sklearn.preprocessing import LabelEncoder

fruits = ['사과', '블루베리', '바나나', '귤', '블루베리', '바나나', '바나나', '사과']

In [2]:
label_encoder = LabelEncoder()
fruits_label_encoded = label_encoder.fit_transform(fruits)

In [7]:
print(fruits_label_encoded)
print(label_encoder.classes_)

[3 2 1 0 2 1 1 3]
['귤' '바나나' '블루베리' '사과']

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

ord_encoder = OrdinalEncoder()
result = ord_encoder.fit_transform(df['column'])

print(ord_encoder.categories_)

## 원 핫 인코딩

In [10]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

fruits = ['사과', '블루베리', '바나나', '귤', '블루베리', '바나나', '바나나', '사과']

label_encoder = LabelEncoder()
onehot_encoder = OneHotEncoder()

fruits_label_encoded = label_encoder.fit_transform(fruits)
fruits_onehot_encoded = onehot_encoder.fit_transform(fruits_label_encoded.reshape(-1, 1))

In [12]:
fruits_onehot_encoded.toarray()

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.]])

In [13]:
import pandas as pd

pd.get_dummies(fruits)

   귤  바나나  블루베리  사과
0  0    0     0   1
1  0    0     1   0
2  0    1     0   0
3  1    0     0   0
4  0    0     1   0
5  0    1     0   0
6  0    1     0   0
7  0    0     0   1

## min-max 정규화
최소값은 0, 최대값은 1이 됨

In [15]:
import pandas as pd

height_weight_dict = {'키' : [1.7, 1.5, 1.8], '몸무게' : [75, 55, 60]}
df = pd.DataFrame(height_weight_dict, index = ['광일', '혜성', '덕수'])

df

      키  몸무게
광일  1.7   75
혜성  1.5   55
덕수  1.8   60

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(df)
df_scaled = scaler.transform(df)

print(df_scaled)

[[0.66666667 1.        ]
 [0.         0.        ]
 [1.         0.25      ]]

## 표준화

평균이 0, 분산이 1이 되도록 조정

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df_scaled = scaler.fit_transform(df)

df_scaled

array([[ 0.26726124,  1.37281295],
       [-1.33630621, -0.98058068],
       [ 1.06904497, -0.39223227]])